{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    {{- if .OutputFormats.Get "html" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
    {{ end }}
  </section>

  <aside>
    <img
      src="/me.jpg"
      alt="My avatar: an astronaut in a spacesuit with a school of fish and the moon visible in the reflection on their visor"
      width="148" height="148" />

    <div class="text-center">
      <a href="books.html">Books</a>
      ·
      <a href="uses.html">Uses</a> 
      ·
      <a href="stalinka.html">Apartment Renovation</a> 
      ·
      <a class="rss" href="/blog/rss.html">RSS</a>
    </div>

    <dl class="external-links">
      <dt>Email</dt>
      <dd><a href="mailto:vasilinavova@gmail.com">vasilinavova@gmail.com</a></dd>
      <dt>Telegram channel</dt>
      <dd><a href="https://t.me/vovavasylynablog">@vovavasylynablog</a></dd>
      <dt>Strava</dt>
      <dd><a href="https://www.strava.com/athletes/110285148">Profile</a></dd>
      <dt>LinkedIn</dt>
      <dd><a href="https://www.linkedin.com/in/volodymyrvasylyna/">Profile</a></dd>
  </aside>
</main>
